@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

@font-face {
  font-family: "Bebas Neue";
  src: url("../font/BebasNeueBold.woff2") format("woff2"), url("../fonts/BebasNeueBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
