/* Variables */

$color-white: #fff;
$color-dark: #000;
$color-1: #ffb548;
$color-2: #1a1917;

$bg-color-white: #fff;
$bg-color-dark: #000;
$bg-color-1: #ffb548;
$bg-color-2: #1a1917;

$bd-radius: 4px;

$font-1: "Bebas Neue";
$font-2: "Open Sans", sans-serif;
